
.authentication-component {
    // position: absolute;
}
.alert-div-component {
    position: absolute;
    z-index: 5;
    max-width: 350px;
    box-shadow: 0 0 5px 1px  red;
    padding: 1.5rem;
    height: 270px;
    display: grid;
    place-content: center;
    gap:1.5rem;
    margin: auto;
    inset: 0;
    border-radius: 12px;
    .alert-btn {
        font-size: .7rem;
    }

    .alert-type{
        text-align: center;
        font-size: 1.3rem;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color:red
    }

    
    .wrapper {
        display: inline-flex !important;
        gap:.5rem;
        button {
        transition: 300ms all ease-in-out;
            padding: .4rem;
            border-radius: 15px;
            flex:1;
        }
        & > button:hover {
            background-color: aquamarine;
        }     
    }
    .social-wrapper{
        display: flex;
        margin: 0 auto;
    }
    .hide {
        position: absolute;
        bottom:10px;
        right: 10px;
    }
}