@use '../utils/utils.scss' as *;


.alert-div-component {
    position: absolute;
    @include respond-to(small){
        width: 100%;
        // position: absolute;\
    }
    display: flex;
    align-items: center;
    margin: 0 auto;
    inset: 0;
    width: 45%;
    width: 450px;
    
    z-index: 5;
    // width: 100%;
    
    .alert-div-inner{
        @include respond-to(small){
            height: 100%;
        }
        box-shadow: 0 0 5px 1px  red;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap:1.5rem;
        width: 100%;
        // min-height: 370px;
        
        // margin: auto;
        inset: 0;
        border-radius: 12px;
        .alert-btn {
            font-size: .8rem;
            background-color: rgb(246, 182, 224);
        }
    
        .errors-wrapper{
            strong {
                text-transform: capitalize;
            }
            display:grid;
            & > * {
                border-radius:10px ;
            }
            width: 100%;
        }
        .alert-type{
            text-align: center;
            font-size: 1.15rem;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 600;
            color:rgb(255, 255, 255);
            background-color: rgb(246, 182, 224);
            padding: .5rem;
            border-radius: 10px;
        }
    
        
        .wrapper {
            display: inline-flex !important;
            gap:.5rem;
            button {
            transition: 300ms all ease-in-out;
                padding: .2em;
    
            // border-radius: 20%;
                flex:100%;
            }
            & > button:hover {
                background-color: rgba(201, 101, 224, 0.25);
                color:rgb(0, 0, 54);
                font-weight: 600;
            }     
        }
        .social-wrapper{
            display: flex;
            margin: 0 auto;
        }
        .hide {
            position: absolute;
            bottom:10px;
            right: 10px;
        }
    }
}