
body[theme='light'] {
    background-color: white;

    .Profile {
        
        color:#242424
    }
    .loading {
        color: #242424;
    }
    .authentication-component {
        background-color: transparent;
        color: #242424;

        .text-wrapper {
        }
        .social-btns {
            span {
                font-size: 1rem;
                color: gray;
            }
        }
    }
    .alert-div-component {
    background-color: rgb(255, 255, 255);

    }

    .App{
        
        .navbar, .Profile{
            color:#242424
        }
        .navbar {
            button {
                color:#242424
            }
        }
    }

}

body[theme="dark"] {
    background-color: #242424;  
    .App{
        
        .navbar, .Profile{
            color:white
        }
        .navbar {
            button {
                color:white
            }
        }
    }
    .Profile {
        
        color: #ffffff
    }
    .loading {
        color: #ffffff
        }

    .alert-div-component {
        background-color: #3e3e3e
    
        }
}
  